body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: black

}
/* min-width is this size and larger, "at least this size" */
@media (min-width: 480px) {
    .media-example {
      color: rgb(0, 255, 76);
    }
  }
  
  /* max-width is this size and smaller, "at most this size" */
  @media (max-width: 768px) {
    .media-example {
      color: rgb(26, 38, 211);
    }
  }
 
  @media (min-width: 1024px){
    .media-example{
        color: red;
    }
  }
  

}
.s1 {
    text-align: left;
}

.s2 {
    text-align: right;
    margin-bottom: 40px;
}

footer{
    background-color: #001d24;
    text-align: center;
    color: white;
    padding: 15px;

}